/* html2canvas to save svg to jpg images*/
button {
  font-family: Nevis;
  font-weight: 900;
  position: absolute;
  top: 50px;
  left: 0px;
  padding: 0.25em 0.5em;
  font-size: 1em;
}

#screen {
  position: relative;
  width: 150px;
  height: 150px;
}

#screenshot {
  position: absolute;
  right: 20px;
  bottom: 20vh;
  padding: 50px;
  width: 200px;
  height: 200px;
} */


/* #test-result {
  min-width: 200%;
  min-height: 100%;
  margin-left: 1em;
  display: inline-block;
  vertical-align: top;
}

/* #test-subject{
  min-width: 100%;
  min-height:  100%;
} */
/* #test-result {
  display: inline-block;
  vertical-align: top;
} */

/*  huebee color picker */

.dark-picker .huebee__container {
  background: #222;
}

#select-color-button {
  position: absolute;
  top: 10px;
  left: 250px;
  width: 75px;
  height: 75px;
  border: 3px solid #f5f5f5;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0 3px darkslategrey;
  font-size:10px;
  font-family: nevis;
}

#load-color-button {
  position: absolute;
  top: 10px;
  left: 350px;
  width: 75px;
  height: 75px;
  border: 3px solid #f5f5f5;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0 3px darkslategrey;
  font-size:30px;
}

#main-shoe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#Layer_2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#outer-shoe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

#container {
  position: relative;
  width: 80vh;
  height: 60vh;

  margin: 7% auto;
}

/* saved in case for PNG support */


/* #laces {
  position: absolute;
  top: 11.8vh;
  left: 23.95vh;
  max-width: 22.9vh;
  color: blue;
} */
/*
#swoosh {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

#eyelet {
  position: absolute;
  top: 14.7vh;
  left: 45vh;
  max-width: 4vh;
}

#sole_patch {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

#logo_patch {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}
#toe_patch {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
} */
