/* body {
  transition: 1s;
}

.page_content{
  width: 1000px;
  height: 600px;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: all 500ms ease-in-out !important;
  transition: all 700ms ease-in-out !important;
  position: absolute;
} */
/* for resizing */

/* currently not in app */

#responsive-container {
  visibility: hidden;
  text-align: center;
  padding-top: 50%;
}

@media screen and (min-width: 200px) and (max-width: 767px) {
  #responsive-container {
    height: 800px;
    width: 100%;
    z-index: 1000;
    position: absolute;
    background-color: white;
    visibility: visible;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
  }
}


#demo-button {
  border: 2px solid black;
  font-family: helvetica;
  width: 20%;
  height: 15%;
  font-size: 24px;
  float: right;
  margin-right: 50%;
  text-decoration: none;
  text-align: center;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #e81fdc, #dd00f3
, #dd00f3);
  background-size: 1800% 1800%;

-webkit-animation: rainbow 10s ease infinite;
-z-animation: rainbow 10s ease infinite;
-o-animation: rainbow 10s ease infinite;
 animation: rainbow 10s ease infinite;}

@-webkit-keyframes rainbow {
   0%{background-position:0% 82%}
   50%{background-position:100% 19%}
   100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
   0%{background-position:0% 82%}
   50%{background-position:100% 19%}
   100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
   0%{background-position:0% 82%}
   50%{background-position:100% 19%}
   100%{background-position:0% 82%}
}
@keyframes rainbow {
   0%{background-position:0% 82%}
   50%{background-position:100% 19%}
   100%{background-position:0% 82%}
}

}


#rating-flash {
  color: red;
  visibility: hidden;
  opacity: 0;
  font-size: 18px;
  animation: kaboom 3s ease alternate infinite;
}

/*  keyframe animation for .like-btn */
@keyframes kaboom {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(2.3);
    opacity: 1;
  }
  0% {
    transform: scale(1.0);
  }
}

/* like button */
.like-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  font-size: 17px;
  text-align: center;
}

.like-btn:hover {
  background-color: blue;
  animation: kaboom 0.7s ease alternate infinite;
}

/* rating stars */
.rating {
  padding-bottom: 25px;
}

.star {
  background: none;
  color: indigo;
  border: none;
  font-size: 1.5em;
  padding: 0 0.15em;
}

.star.is-active {
  color: #F9DC5C;
}

.screen-reader {
  position: absolute;
	overflow: hidden;
	width: 1px;
}

/* html2canvas to save svg to jpg images*/
#create-shoe-container {
  position: absolute;
  width: 425px;
  height: 475px;
  right:  50px;
  top: 25px;
}

.create-shoe-form {
  position: relative;
  bottom: 0px;
  width: 200px;
  height: 200px;
  margin-top: 2%;
  margin-left: 145px;
}

.create-shoe-form input {
  font-size: 15px;
  font-family: nevis;
  margin: 2%;
}

.create-shoe-form button {
  border-radius: 50%;
  margin-top: 3%;
  margin-left: 50px;
  width: 60px;
  height: 60px;
  font-size: 12px;
  text-align: center;
  font-family: nevis;
  box-shadow: 0 2 5px darkslategrey;
}

.create-shoe-form button:hover {
  background-color: black;
  color: white;
}

#screenshot {
  position: relative;
  border:1.5px solid lightgrey;
  margin: 0 auto;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 15px;
  width: 300px;
  height: 300px;
  /* position: absolute; */
  left: 50%;
  margin-left: -150px;
  margin-top: 10%;
  z-index: 4;
}

#screen {
  position: relative;
  width: 450px;
  height: 450px;
}

/*  huebee color picker */

#color-picker-container {
  left: 60px;
  top: 120px;
}

#color-input {
  position: absolute;
  top: 0px;
  left: 25px;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  font-size: 15px;
  text-align: center;
  font-family: nevis;
  box-shadow: 0 2 5px darkslategrey;
}

.dark-picker .huebee__container {
  background: transparent;
}

/* save button for screenshot, included in color-picker-container div */

#save-button {
  position: absolute;
  top: -95px;
  left: 25px;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  font-size: 15px;
  text-align: center;
  font-family: nevis;
  box-shadow: 0 2 5px darkslategrey;
}

/* container div for shoe */
#container {
  position: absolute;
  top: -50px;
  left: 330px;
  margin: 7% auto;
}

#display-shoe{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50px;
  left: 250px;
  border: 2px solid lightgrey;
}

/* 3 shoe "layers" of svgs, outer=clickevent, main=color, inner=outline */
#main-shoe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#inner-shoe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#outer-shoe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

#custom-shoe-container {
  position: absolute;
  top: 80%;
  width: 90%;
  margin: auto;
  right: 0;
  left: 0;
  /* border: 3px solid lightgrey; */
}

.custom-shoe-card {
  position: relative;
  display: inline-grid;
  width: auto;
  height: auto;
  border: 3px solid lightgrey;
  text-align: center;
  padding-right: 4%;
  padding-left: 4%;
  margin: 15px;
  font-family: 'Source Sans Pro', sans-serif;

}

.custom-shoe {
  width: 250px;
}

#comment-button {
  position: absolute;
  margin: auto;
  top: 60%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 75px;
  height: 30px;
  border-radius: 5%;
  border: 2px solid orange;
  background-color: transparent;
  text-align: center;
  font-family: nevis;
}

#comment-button:hover {
  background-color: gold;
  color: indigo;
}
/* comment container */
#comment-container {
  visibility: hidden;
  position: fixed;
  margin: auto;
  height: auto;
  width: 50%;
  top: 25%;
  left: 25%;
  text-align: center;
  z-index: 10;
}

.comment {
  position: relative;
  display: inline-grid;
  border: 1.5px solid lightgrey;
  background: white;
  width: auto;
  height: auto;
  text-align: center;
  padding-right: 5%;
  padding-left: 5%;
  top: 40px;
  margin: 15px;
  font-family: 'Muli', sans-serif;
}

#create-comment-button {
  position: absolute;
  margin: auto;
  top: 60%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 75px;
  height: 30px;
  border-radius: 5%;
  border: 2px solid orange;
  background-color: transparent;
  text-align: center;
  font-family: nevis;
}

#create-comment-button:hover {
  background-color: gold;
  color: indigo;
}
/* comment container */
#create-comment-container {
  visibility: hidden;
  position: fixed;
  margin: auto;
  background: white;
  border: 3px solid lightgrey;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  width: 20%;
  height: 300px;
  text-align: center;
  z-index: 10;
}

#view-comments-button {
  position: absolute;
  margin: auto;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  font-size: 10px;
  text-align: center;
  font-family: nevis;
  box-shadow: 0 2 5px darkslategrey;
}

#view-comments-button:hover {
  background-color: black;
  color: white;
}

#submit-button {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: -100%;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  font-size: 12px;
  text-align: center;
  font-family: nevis;
  box-shadow: 0 2 5px darkslategrey;
}

#submit-button:hover {
  background-color: black;
  color: white;
}

#user-name {
  position: relative;
  width: 150px;
  height: 20px;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid lightgrey;
  font-size: 15px;
  font-family: nevis;
  color: grey;
}

#user-comment {
  position: absolute;
  width: 200px;
  height: 125px;
  margin: auto;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid lightgrey;
  font-size: 15px;
  font-family: nevis;
  color: grey;
}

#close-comment {
  position: absolute;
  margin: auto;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  font-size: 12px;
  text-align: center;
  font-family: nevis;
  box-shadow: 0 2 5px darkslategrey;
}

#close-comment:hover {
  background-color: black;
  color: white;
}

.delete-comment {
  position: absolute;
  border-radius: 50%;
  margin: auto;
  bottom: -25px;
  right: 0;
  left: 0;
  width: 35px;
  height: 35px;
  font-size: 18px;
  text-align: right;
  border: 1px solid blue;
}

.delete-button:hover {
  background-color: red;
}

.delete-button {
  position: absolute;
  border-radius: 50%;
  margin: auto;
  bottom: -25px;
  right: 0;
  left: 0;
  width: 35px;
  height: 35px;
  font-size: 18px;
  text-align: right;
  border: 1px solid blue;
}

.delete-button:hover {
  background-color: red;
}
