/* html2canvas to save svg to jpg images*/

#screen {
  position: relative;
  width: 500px;
  height: 500px;
}

#screenshot {
  position: absolute;
  border:2px solid lightgrey;
  right: 100px;
  top: 15vh;
  width: 42vh;
  height: 42vh;
  z-index: 4;
}

/*  huebee color picker */

#color-picker-container {
  left: 60px;
  top: 60px;
}

#color-input {
  position: absolute;
  top: 0px;
  left: 25px;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  font-size: 15px;
  text-align: center;
  font-family: nevis;
  box-shadow: 0 2 5px darkslategrey;
}

.dark-picker .huebee__container {
  background: blue;
}

/* save button for screenshot, included in color-picker-container div */

#save-button {
  position: absolute;
  top: -90px;
  left: 25px;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  font-size: 15px;
  text-align: center;
  font-family: nevis;
  box-shadow: 0 2 5px darkslategrey;
}

/* container div for shoe */
#container {
  position: relative;
  width: 80vh;
  height: 80vh;
  left: -60px;
  margin: 7% auto;
}

/* 3 shoe "layers" of svgs, outer=clickevent, main=color, inner=outline */
#main-shoe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#inner-shoe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#outer-shoe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

/* comment container */

#comment-container {
  position: relative;
  margin: auto;
  width: 85%;
  border: 3px solid lightgrey;
  padding: 40px;
  bottom: 200px;
  /* position: absolute;
  width: 120vh;
  bottom: -350px;
  border: 1px solid lightgrey;
  margin: 10%; */
}

.comment {
  position: relative;
  display: inline-grid;
  border: 1.5px solid lightgrey;
  width: 175px;
  height: 175px;
  text-align: center;
  padding-right: 5%;
  padding-left: 5%;
  margin: 15px;
  font-family: 'Muli', sans-serif;
}
